# Import library

In [1]:
import pandas as pd

# Load dataset

In [2]:
df = pd.read_csv("TokoBuku_Bersih.csv")

# Mengelompokkan data berdasarkan tanggal pembelian dari setiap customer

In [3]:
# Mengelompokkan berdasarkan tanggal pembelian dan nama customer,
# lalu menggabungkan item yang dibeli menjadi list
grouped = (
    df.groupby(["tanggal pembelian", "nama_customer"])["jenis_item"]
    .apply(list)
    .reset_index()
)

# Menghapus kolom nama_customer
result = grouped.drop(columns=["nama_customer"])

# Mengonversi kolom tanggal pembelian ke datetime
result["tanggal pembelian"] = pd.to_datetime(result["tanggal pembelian"])

# Mengurutkan berdasarkan tanggal secara ascending
result_sorted = result.sort_values("tanggal pembelian").reset_index(drop=True)

# Menampilkan hasil
print(result_sorted)

    tanggal pembelian                                         jenis_item
0          2010-01-01  [Alat Tulis, Buku Sejarah, Buku Anak-Anak, Maj...
1          2010-03-03                         [Alat Tulis, Majalah Seni]
2          2010-05-01  [Majalah Berita, Buku Biografi, Novel Romansa,...
3          2010-05-01  [Novel Fiksi Ilmiah, Majalah Berita, Novel Mis...
4          2010-05-01  [Buku Anak-Anak, Majalah Seni, Novel Fiksi Ilm...
..                ...                                                ...
476        2024-04-30  [Majalah Fashion, Majalah Berita, Novel Fiksi ...
477        2024-04-30  [Alat Tulis, Buku Anak-Anak, Majalah Fashion, ...
478        2024-04-30  [Alat Tulis, Buku Sejarah, Buku Anak-Anak, Maj...
479        2024-04-30  [Alat Tulis, Majalah Seni, Majalah Berita, Nov...
480        2024-04-30  [Buku Sejarah, Buku Anak-Anak, Majalah Berita,...

[481 rows x 2 columns]

# Menyimpan hasil ke file

In [4]:
result_sorted.to_csv("DataCleaningTA.csv", index=False)
print("\nDataset bersih sudah disimpan sebagai 'DataCleaningTA.csv'")

Dataset bersih sudah disimpan sebagai 'DataCleaningTA.csv'