# Import library

In [1]:
import pandas as pd

# Load dataset

In [2]:
df = pd.read_csv('DataTransformasiTA.csv')

# Menampilkan kolom tanggal pembelian

In [3]:
print("Isi kolom 'tanggal pembelian':")
print(df['tanggal pembelian'].head())  # Menampilkan 5 baris pertama

Isi kolom 'tanggal pembelian':
0    2010-01-01
1    2010-03-03
2    2010-05-01
3    2010-05-01
4    2010-05-01
Name: tanggal pembelian, dtype: object

# Menghapus kolom tanggal pembelian

In [4]:
df = df.drop(columns=['tanggal pembelian'])

# Menampilkan dataframe setelah penghapusan kolom

In [5]:
print("\nData setelah kolom 'tanggal pembelian' dihapus:")
print(df.head())

Data setelah kolom 'tanggal pembelian' dihapus:
   transaksi  Aksesoris Buku  Alat Tulis  Buku Anak-Anak  Buku Biografi  \
0          1               0           1               1              0
1          2               0           1               0              0
2          3               1           0               0              1
3          4               0           0               0              0
4          5               0           0               1              0

   Buku Fiksi  Buku Sejarah  Majalah Berita  Majalah Fashion  Majalah Seni  \
0           1             1               1                1             0
1           0             0               0                0             1
2           0             0               1                0             0
3           0             0               1                1             0
4           1             0               0                0             1

   Novel Fiksi Ilmiah  Novel Misteri  Novel Romansa
0                   0              0              1
1                   0              0              0
2                   0              0              1
3                   1              1              0
4                   1              0              0

# Menyimpan hasil ke file

In [6]:
df.to_csv('DataTransformasiTA_tanpa_tanggal.csv', index=False)
print("\nDataset transformasi penghapusan tanggal pembelian sudah disimpan sebagai 'DataTransformasiTA_tanpa tanggal.csv'")

Dataset transformasi penghapusan tanggal pembelian sudah disimpan sebagai 'DataTransformasiTA_tanpa tanggal.csv'